<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% if title %}
        <title>Django Recipes - {{title}}</title>
        {% else %}
        <title>Django Recipes</title>
        {% endif %}

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
        crossorigin="anonymous">

        <style>
            body{
              background-color: white
            }
            table, th, td {
            
                padding-top: 2px;
                padding-bottom: 2px;
                padding-left: 2px;
                padding-right: 2px;

                
                margin-top: 2px;
                margin-bottom: 10px;
                margin-left: 2px;
                margin-right: 2px;

                border: 1px solid black;
                border-collapse: collapse;
            }

            table caption { 
                padding-top: 0px;
                padding-bottom: 0px;
                padding-left: 0px;
                padding-right: 0px;

                padding: 00px;

            }   

        </style>

    </head>
<body bgcolor="white">
<!--
      
        <div class="card" style="width: 18rem;">
  
            <div class="card-body">
                <h5 class="card-title"> {{object.title}} </h5>
                <p class="card-text">{{object.description}}</p>

                <p class="card-text">total calorique en (kj par 100g) : {{total_calorie}}</p>
                <p class="card-text">total glucide en g/ 100g : {{total_glucide}}</p>
                <p class="card-text">total sodium en g/100g : {{total_sodium}}</p>
                <p class="card-text">Score calorie : {{Score_calorie}}</p>
                <p class="card-text"> Nutriscore : {{nutriscore}}</p>
                <p class="card-text"> Allegation : {{allegation}}</p>
                <p class="card-text"> Test Attribute : {{Attribut_test}}</p>


                <h6 class="card-subtitle mb-2 text-muted"> temps de cuisson : {{object.cook_time}} </h6>
                {%for ingredient in ingredients%}
                <br>
                <br>
                {%if ingredient.recipe == object %}
    
                    <p class="card-text">{{ingredient}}</p>
                    <p class="card-text">Quantite en (g): {{ingredient.quantity}}</p>
                    <p class="card-text">energie en (kj par 100g) : {{ingredient.ingredient.energie_kJ}}</p>
                    <p class="card-text">sodium en (g / 100g) : {{ingredient.ingredient.sodium}}</p>
                    <p class="card-text">glucides en (g / 100g) : {{ingredient.ingredient.glucides}}</p>
                    
                {% endif %}
                
                {%if ingredient.recipe == object %}
    
                    <p class="card-text">{{ingredient}}</p>
                    <p class="card-text">Quantite en (g): {{ingredient.quantity}}</p>
                    <p class="card-text">energie en (kj par 100g) : {{ingredient.ingredient.energie_kJ}}</p>
                    <p class="card-text">sodium en (g / 100g) : {{ingredient.ingredient.sodium}}</p>
                    <p class="card-text">glucides en (g / 100g) : {{ingredient.ingredient.glucides}}</p>
                    
                {% endif %}
    
                {% endfor %}
            </div>
            
        </div>
    
    -->

    <h2> Détails de la recette : {{ recipe.title }} </h2>

    <table class="table table-striped table-secondary">
        <thead>

            <caption> <h2> Valeurs Nutritionnelles Moyennes </h2> </caption>
            <tr>
                <th scope="col"> Valeur nutritionnelle </th>
                <th scope="col"> 100g </th>
                <th scope="col"> 1 Biscuit ({{poids_unitaire}} g) </th>
                <th scope="col"> % GDA ** / biscuit </th>




            </tr>

        </thead>
        <tbody>  
            
            <tr> 
                <td> Valeur énergétique </td>         

                <td> {{total_calorie_kcal}} kcal
                    <br>
                     {{total_calorie}} kJ
                </td> 

                <td> 
                    {{total_calorie_kcal_bis}} kcal
                    <br>
                    {{total_calorie_bis}} kJ
                </td>   
                  
                <td> 
                    {{total_calorie_kcal_gda}} %
                    <br>
                    {{total_calorie_gda}} %   
                </td>     
            </tr>
            
            <tr> 
                <td> Protéines </td>     
                
                
                <td> {{total_protein_nf}} g </td> 

                <td> {{total_protein_bis}} g
                </td>   
                  
                <td> {{total_protein_gda}} %  </td>     
            </tr>

            
            <tr> 
                <td> 
                    Glucides
                    <br>
                    dont sucres
                </td>         

                <td> 
                    {{total_glucide_nf}} g
                    <br>
                    {{total_sucres_nf}} g                                  
                </td> 

                <td> 
                    {{total_glucide_bis}} g
                    <br>
                    {{total_sucres_bis}} g                                  
                </td>   
                  
                <td> 
                    {{total_glucide_gda}} %
                    <br>
                    {{total_sucres_gda}} %   
                </td>     
            </tr>

            
            <tr> 
                <td> 
                    Lipides 
                    <br>
                    dont ag saturés
                </td>         

                <td> 
                    {{total_lipide_nf}} g
                    <br>
                    {{total_AGsatures_nf}} g
                </td> 

                <td> 
                    {{total_lipide_bis}} g
                    <br>
                    {{total_AGsatures_bis}} g
                </td>   
                  
                <td> 
                    {{total_lipide_gda}}  %
                    <br>
                    {{total_AGsatures_gda}} %
                </td>     
            </tr>

                                        
            <tr> 
                <td> Fibres alimentaires </td>         

                <td> {{total_fibre_nf}} g
                </td> 

                <td> {{total_fibre_bis}} g </td>   
                  
                <td> {{total_fibre_gda}} %  </td>     
            </tr>
            
            <tr> 
                <td> Sel ajouté </td>         

                <td> {{total_sels_ajoutes_nf}} g
                </td> 

                <td> {{total_sodium_bis}} g </td>   
                  
                <td> {{total_sodium_gda}} % </td>     
            </tr>



        </tbody>
    </table>


    
    <table id = 'Tableau nutritionnel' style="width:100%" class="table" bgcolor="rgba(255, 255, 255, 255)">
        <thead  bgcolor="white">
        <div bgcolor="white">
            <caption><h2>Tableau nutritionnel</h2></caption>

        </div>

        </thead>
        <tbody>             
            <tr>
                <th scope="col"> Valeur énergétique (kJ/100 g)  </th>   
                <td> {{total_calorie}} </td>     
            </tr>
            <tr>
                <th scope="col"> Valeur énergétique (kcal/100 g) </th>   
                <td> {{total_calorie_kcal}} </td>     
            </tr>
            <tr>
                <th scope="col"> Glucides (g/100 g) </th>   
                <td> {{total_glucide}} </td>     
            </tr>

            
            <tr>
                <th scope="col"> Sodium (mg/100 g) </th>   
                <td> {{total_sodium}} </td>     
            </tr>


            <tr>
                <th scope="col"> Protéines (g/100 g) </th>   
                <td> {{total_protein}} </td>     
            </tr>

            <tr>
                <th scope="col"> Fibres alimentaires (g/100 g)  </th>   
                <td> {{total_fibre}} </td>     
            </tr>
            

            <tr>
                <th scope="col"> Eau (g/100 g)  </th>   
                <td> {{total_eau}} </td>     
            </tr>

            <tr>
                <th scope="col"> Lipides (g/100 g) </th>   
                <td> {{total_lipide}} </td>     
            </tr>

            <tr>
                <th scope="col"> Sucres (g/100 g) </th>   
                <td> {{total_sucres}} </td>     
            </tr>



            <tr>
                <th scope="col"> Fructose (g/100 g)  </th>   
                <td> {{total_fructose}} </td>     
            </tr>

            <tr>
                <th scope="col"> Galactose (g/100 g) </th>   
                <td> {{total_galactose}} </td>     
            </tr>

            <tr>
                <th scope="col"> Glucose (g/100 g) </th>   
                <td> {{total_glucose}} </td>     
            </tr>
            <tr>
                <th scope="col"> Maltose (g/100 g)  </th>   
                <td> {{total_maltose}} </td>     
            </tr>

            <tr>
                <th scope="col"> Saccharose (g/100 g) </th>   
                <td> {{total_saccharose}} </td>     
            </tr>

            <tr>
                <th scope="col"> Amidon (g/100 g) </th>   
                <td> {{total_amidon}} </td>     
            </tr>


            <tr>
                <th scope="col"> Polyols totaux (g/100 g)  </th>   
                <td> {{total_polyols}} </td>     
            </tr>

            <tr>
                <th scope="col"> Alcool (g/100 g) </th>   
                <td> {{total_alcool}} </td>     
            </tr>

            <tr>
                <th scope="col"> Acides organiques (g/100 g) </th>   
                <td> {{total_acidesOrganiques}} </td>     
            </tr>



            <tr>
                <th scope="col"> AG saturés (g/100 g)  </th>   
                <td> {{total_AGsatures}} </td>     
            </tr>

            <tr>
                <th scope="col"> AG monoinsaturés (g/100 g) </th>   
                <td> {{total_AGmonoinsature}} </td>     
            </tr>

            <tr>
                <th scope="col"> AG polyinsaturés (g/100 g) </th>   
                <td> {{total_AGpolyinsature}} </td>     
            </tr>
            <tr>
                <th scope="col"> AG 4:0, butyrique (g/100 g)  </th>   
                <td> {{total_AGbutyrique}} </td>     
            </tr>

            <tr>
                <th scope="col"> AG 6:0, caproïque (g/100 g) </th>   
                <td> {{total_AGcaprylique}} </td>     
            </tr>

            <tr>
                <th scope="col"> AG 8:0, caprylique (g/100 g) </th>   
                <td> {{total_AGcaprylique}} </td>     
            </tr>

            <tr>
                <th scope="col"> AG 12:0, laurique (g/100 g)  </th>   
                <td> {{total_AGlaurique}} </td>     
            </tr>

            <tr>
                <th scope="col"> AG 4:0, butyrique (g/100 g) </th>   
                <td> {{total_AGbutyrique}} </td>     
            </tr>

            <tr>
                <th scope="col"> AG 16:0, palmitique (g/100 g) </th>   
                <td> {{total_AGpalmitique}} </td>     
            </tr>



            <tr>
                <th scope="col"> AG 18:0, stéarique (g/100 g) </th>   
                <td> {{total_AGbstearique}} </td>     
            </tr>

            <tr>
                <th scope="col"> AG 18:2 9c,12c (n-6), linoléique (g/100 g) </th>   
                <td> {{total_AGlinoleique}} </td>     
            </tr>


            <tr>
                <th scope="col"> AG 18:3 c9,c12,c15 (n-3), alpha-linolénique (g/100 g) </th>   
                <td> {{total_AGalphalinolenique}} </td>     
            </tr>

            <tr>
                <th scope="col"> AG 20:5 5c,8c,11c,14c,17c (n-3) EPA (g/100 g) </th>   
                <td> {{total_AGepa}} </td>     
            </tr>
            <tr>
                <th scope="col"> AG 22:6 4c,7c,10c,13c,16c,19c (n-3) DHA (g/100 g) </th>   
                <td> {{total_AGdha}} </td>     
            </tr>


            <tr>
                <th scope="col"> Cholestérol (mg/100 g) </th>   
                <td> {{total_cholesterol}} </td>     
            </tr>

            <tr>
                <th scope="col"> Sel chlorure de sodium (g/100 g) </th>   
                <td> {{total_selchlorure}} </td>     
            </tr>
            <tr>
                <th scope="col"> Calcium (mg/100 g) </th>   
                <td> {{total_calcium}} </td>     
            </tr>

            <tr>
                <th scope="col"> Cuivre (mg/100 g) </th>   
                <td> {{total_cuivre}} </td>     
            </tr>

            <th scope="col"> Fer (mg/100 g)  </th>   
                <td> {{total_fer}} </td>     
            </tr>

            </tr>
                <th scope="col"> Iode (µg/100 g)  </th>   
                <td> {{total_iode}} </td>     
            </tr>

            <th scope="col"> Magnésium (mg/100 g)  </th>   
                <td> {{total_magnesium}} </td>     
            </tr>

            </tr>
                <th scope="col"> Manganèse (mg/100 g)  </th>   
                <td> {{total_manganese}} </td>     
            </tr>

            </tr>
                <th scope="col"> Phosphore (mg/100 g)  </th>   
                <td> {{total_phosphore}} </td>     
            </tr>

            </tr>
                <th scope="col"> Potassium (mg/100 g)  </th>   
                <td> {{total_potassium}} </td>     
            </tr>


            <tr>
                <th scope="col"> Sélénium (µg/100 g)  </th>   
                <td> {{total_selenium}} </td>     
            </tr>

            <tr>
                <th scope="col"> Zinc (mg/100 g)  </th>   
                <td> {{total_zinc}} </td>     
            </tr>

            <tr>
                <th scope="col"> Rétinol (µg/100 g)  </th>   
                <td> {{total_retinol}} </td>     
            </tr>

            <tr>
                <th scope="col"> Vitamine E (mg/100 g) </th>   
                <td> {{total_vitamineE}} </td>     
            </tr>


            <tr>
                <th scope="col"> Vitamine K1 (µg/100 g) </th>   
                <td> {{total_VitamineK1}} </td>     
            </tr>
            <tr>
                <th scope="col">Vitamine K2 (µg/100 g)</th>   
                <td> {{total_vitamineK2}} </td>     
            </tr>

            <tr>
                <th scope="col"> Vitamine B1 ou Thiamine (mg/100 g)  </th>   
                <td> {{total_vitamineB1}} </td>     
            </tr>

            <tr>
                <th scope="col">Vitamine B2 ou Riboflavine (mg/100 g)  </th>   
                <td> {{total_vitamineB2}} </td>     
            </tr>

            <tr>
                <th scope="col"> Vitamine B3 ou PP ou Niacine (mg/100 g)  </th>   
                <td> {{total_vitamineB3}} </td>     
            </tr>

            <tr>
                <th scope="col"> Vitamine B5 ou Acide pantothénique (mg/100 g)  </th>   
                <td> {{total_VitamineB5}} </td>     
            </tr>

            <tr>
                <th scope="col"> Vitamine B9 ou Folates totaux (µg/100 g) </th>   
                <td> {{total_VitamineB9}} </td>     
            </tr>

            <tr>
                <th scope="col"> Vitamine B12  </th>   
                <td> {{total_VitamineB12}} </td>     
            </tr>

            <tr>
                <th scope="col"> Sels ajoutés (g/100 g)  </th>   
                <td> {{total_sels_ajoutes}} </td>     
            </tr>

            <tr>
                <th scope="col"> Sucres ajoutés (g/100 g) </th>   
                <td> {{total_sucres_ajoutes}} </td>     
            </tr>



        </tbody>
    </table>

        
        <table class="table" style="width:100%">
            <caption><h2>Allegations nutritionnelles </h2></caption>

            <tbody>   

                {% for alleg in allegation %}    
                    <tr>
                        <th scope="col">
                            allegation {{forloop.counter}}
                        </th>   

                        <td> {{alleg}}</td> 
                        {% for alleg_val in allegation_valeurs %}    
                        {% if forloop.counter == forloop.parentloop.counter %}  
                        <td> {{alleg_val}}</td>   
                        {% endif %}
                        {% endfor %}


                    </tr>

                {% endfor %}

            </tbody>

        </table>

        
        <table class="table" style="width:100%" >
            <caption><h2>Allegations Minéraux</h2></caption>

            <tbody>   
                        {% for alleg in allegation_minerales %}    
                        <tr>
                            <th scope="col">
                                allegation {{forloop.counter}}
                            </th>   

                            <td> {{alleg}}</td> 
                            {% for alleg_val in allegation_minerales_valeurs %}    
                            {% if forloop.counter == forloop.parentloop.counter %}  
                            <td> {{alleg_val}}</td>   
                            {% endif %}
                            {% endfor %}


                        </tr>

                        {% endfor %}

            </tbody>

        </table>



        <table class="table" style="width:100%" >
            <caption><h2>Allegations Vitamines</h2></caption>

            <tbody>   
                            {% for alleg in allegation_vitamine %}    
                            <tr>
                                <th scope="col">
                                    allegation {{forloop.counter}}
                                </th>   
    
                                <td> {{alleg}}</td> 
                                {% for alleg_val in allegation_vitamine_valeurs %}    
                                {% if forloop.counter == forloop.parentloop.counter %}  
                                <td> {{alleg_val}}</td>   
                                {% endif %}
                                {% endfor %}
    
    
                            </tr>
    
                            {% endfor %}
            </tbody>

        </table>



        <table class="table table-striped table-secondary">
            <thead>

                <caption> <h2> Recapitulatif des ingredients avant cuisson </h2> <caption>
                <tr>
                    <th scope="col"> Nom </th>
                    <th scope="col"> Quantité (g) </th>
                    <th scope="col"> Pourcentage (%)</th>
                    
                </tr>
    
            </thead>
            <tbody>  
                
                {% for ingredient in ingredients %}

                <tr>
                    <th scope="col"> {{ingredient}} </th>   
                    <td scope="col" > {{ingredient.quantity}} </td>     
                    {% for perc in perc_ingredients_eau %}
                    {% if forloop.counter == forloop.parentloop.counter %}  
                    <td> {{perc}}</td>   
                        {% endif %}
                        {% endfor %}
                        
                    </tr>
                    
                    
                    {%endfor%}
                    
                    
                </tbody>
            </table>


            <table class="table table-striped table-secondary">
                <thead>

                    <caption> <h2> Recapitulatif des ingredients après cuisson </h2> </caption>
                    <tr>
                        <th scope="col"> Nom </th>
                        <th scope="col"> Quantité (g)</th>
                        <th scope="col"> Pourcentage (%)</th>
    
                    </tr>
        
                </thead>
                <tbody>  
                    
                {% for ingredient in ingredients %}
                {% if not ingredient.ingredient.forme.name == 'eaux'%}

                    <tr>
                        <th scope="col"> {{ingredient}} </th>   
                        <td scope="col" > {{ingredient.quantity}} </td>     
                            {% for perc in perc_ingredients %}
                            {% if forloop.counter == forloop.parentloop.counter %}  
                            <td> {{perc}}</td>   
                            {% endif %}
                            {% endfor %}

                    </tr>

                {% endif %}  

                {%endfor%}


                </tbody>
            </table>

                    
        <table class="table" style="width:100%">
            <thead>
                <caption> <h2>Recapitulatif du processus </h2></caption>

            </thead>


            <tbody>  
                        
                        <tr>
                            <th scope="col"> <h4> Préparation <h4/> </th>                                 
                        </tr>
                    {% for step in process %}
                        <tr>
                            <th scope="col"> {{step.step}} </th>      
                        </tr>

                    {%endfor%}
                        
                    <tr>
                        <th scope="col"> <h4> Cuisson <h4/> </th>                                 
                    </tr>
                    {% for step in cooking %}
                        <tr>
                            <th scope="col"> {{step.step}} </th>      
                        </tr>

                    {%endfor%}


            </tbody>
            
        </table>


            <table class="table" style="width:100%" >
                <thead>
                    <caption> <h2>Nutriscore</h2> </caption>

                </thead>

    
                <tbody>  
                    

                <tr>
                    <th> {{nutriscore}} {{couleur}} </th>      
                </tr>



                </tbody>
            </table>






    </body>
    </html>